.stockInfo{
  background: #FFFFFF;
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.20);
  border-radius: 4px;
  padding: 15px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.added{
  background: #f5fff2;
}
.stockInfo p{
  margin: 0px;
}
.info{
  float: left;
  width: 60%;
}
.name{
  font-size: 16px;
  color: #666666;
}
.type{
  font-size: 12px;
  color: #89A6EC;
  line-height: 12px;
  margin-top: 5px! important;
}
.price{
  font-size: 24px;
  color: #666666;
  font-family: ProximaNova-Light;
}
.otherInfo{
  float: right;
  width: 40%;
  text-align: right;
}
.otherInfo:hover .price{
  display: none;
}
.otherInfo:hover .button{
  display: block;
}
.button{
  width: 26px;
  height: 26px;
  float: right;
  background: url('../../../images/add_circle.png');
  background-repeat: no-repeat;
  background-size: 26px 26px;
  cursor: pointer;
  display: none;
}
.clearfix:after{
  content: "";
  display: table;
  clear: both;
}
