.container{
  position: relative;
  margin: 10px 15px 0px;
  padding: 30px 15px;
  background: #fff;
}
.info{
  font-size: 16px;
  color: #00A9D2;
  padding: 25px 15px;
  font-weight: bold;
}
.banner{
  background: #00B3D6;
  text-transform: uppercase;
  color: #fff;
  padding: 10px 20px;
  position: absolute;
  top: -8px;
  left: -15px;
  z-index: 1;
  box-shadow: 4px 4px 4px 0 rgba(0,0,0,0.20);
}
.bannerAngle{
  position: absolute;
  top: 30px;
  left: -15px;
  width: 16px;
  width: 0;
  height: 0;
  border-top: 24px solid #098DAD;
  border-left: 16px solid transparent;
}
.col3{
  width: 25%;
  display: inline-block;
  padding: 0px 15px;
  box-sizing: border-box;
}
.actionSection{
  padding: 0px 15px;
  margin-top: 10px;
}
.actionSection:after{
  content: "";
  display: table;
  clear: both;
}
.next{
  font-size: 16px;
  color: #00A9D2;
  float: right;
  text-transform: uppercase;
  cursor: pointer;
}
.next:hover{
  text-decoration: underline;
}
.prev{
  opacity: 0.3;
  font-size: 16px;
  color: #00A9D2;
  float: left;
  text-transform: uppercase;
  cursor: pointer;
}
.prev:hover{
  text-decoration: underline;
}
